body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
.separator {
  border-bottom: 1px solid #ACADB5;
  display: block;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}